<div class="driver-label text_left">{{::vm.label}}</div>
<div>
  <div class="select-file">
    <label for="browse_{{::$id}}" class="custom-file-button" tabindex="0" ng-keydown="vm.keyDown($event,$id)">{{::vm.buttonLabel}}</label>
    <input id="browse_{{::$id}}" type="file" file-input="vm.model"/>
  </div>
  <div class="fill-remaining">
    <input class="browse-file" type="text" size="50" readonly disabled value="{{(vm.model[0] && vm.model.length > 0) ? vm.model[0].name : vm.placeholder}}">
  </div>
</div>