input[type="file"] {
  display: none;
}

.browse-file{
  border-radius: 5px 0px 0px 5px !important;
  border-right: 0px !important;
}

.custom-file-button {
  border-radius: 0px 5px 5px 0px;
  float: right;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #005DA6;
  background-color: #005DA6;
  color: #FFF;
  outline: none;
  padding: 7.5px 20px;
  font-size: 14px;
}

.custom-file-button:hover {
  background-color: #0f2b5b;
}
.browse-label  {
  border-radius: 5px 0px 0px 5px;
  float: right;
}
.driver-label {
  color: #666666;
  font-size: 14px;
  margin-bottom:5px;
}