addressbar .breadcrumb .clusters {
  background: url("../img/Share.S_D.svg") no-repeat center center;
  background-size: 32px;
}

folder .folder.clusters .folderImage {
  background: url("../img/Share.S_D.svg") no-repeat center center;
  background-size: 32px;
}

folder .folder.clusters.selected .folderImage {
  background-image: url("../img/Share.S_D_white.svg");
}