<div class="new-edit-main">
  <div class="title_text margin_bottom_30 text_center">{{vm.header}}</div>
  <div class="new-edit-middle margin_bottom_10">
    <div class="cluster-name margin_bottom_15">
      <label for="clusterName" class="margin_bottom_5 text_left">{{::vm.clusterNameLabel}}</label>
      <input id="clusterName" type="text" ng-model="vm.data.model.clusterName" autofocus/>
    </div>
    <div class="scroll-form">
      <div class="import-shim margin_bottom_15">
        <div class="leftHalf">
          <label for="importShimName" class="margin_bottom_5 text_left">{{::vm.importLabel}}</label>
          <select-box id="importShimName" type="vm.shimName" options="vm.shimNames" on-select="vm.onSelectShim(value)"></select-box>
        </div>
        <div class="rightHalf">
          <label for="shimVersion" class="margin_bottom_5 text_left">{{::vm.versionLabel}}</label>
          <select-box id="shimVersion" type="vm.shimVersion" options="vm.shimVersions" on-select="vm.onSelectShimVersion(value)"></select-box>
        </div>
      </div>
      <div class="margin_bottom_20">
        <browse-local type="vm.browseType" label="vm.importFolderLabel" model="vm.data.model.importPath" validation="vm.checkConfigurationPath()"></browse-local>
      </div>
      <fieldset class="margin_bottom_15">
        <legend>{{::vm.hdfsLabel}}</legend>
        <div class="margin_bottom_15">
          <img class="variable" ng-src="{{::vm.variableImage}}"/>
          <div class="port-input">
            <label for="hdfsPort" class="margin_bottom_5 text_left">{{::vm.portLabel}}</label>
            <input id="hdfsPort" type="text" ng-model="vm.data.model.hdfsPort"/>
          </div>
          <img class="variable" ng-src="{{::vm.variableImage}}"/>
          <div class="fill-remaining">
            <label for="hdfsHostname" class="margin_bottom_5 text_left">{{::vm.hostnameLabel}}</label>
            <input id="hdfsHostname" type="text" ng-model="vm.data.model.hdfsHostname"/>
          </div>
        </div>
        <credentials username="vm.data.model.hdfsUsername" password="vm.data.model.hdfsPassword"></credentials>
      </fieldset>
      <fieldset class="margin_bottom_15">
        <legend>{{::vm.jobTrackerLabel}}</legend>
        <img class="variable" ng-src="{{::vm.variableImage}}"/>
        <div class="port-input">
          <label for="jobTrackerPort" class="margin_bottom_5 text_left">{{::vm.portLabel}}</label>
          <input id="jobTrackerPort" type="text" ng-model="vm.data.model.jobTrackerPort"/>
        </div>
        <img class="variable" ng-src="{{::vm.variableImage}}"/>
        <div class="fill-remaining">
          <label for="jobTrackerHostname" class="margin_bottom_5 text_left">{{::vm.hostnameLabel}}</label>
          <input id="jobTrackerHostname" type="text" ng-model="vm.data.model.jobTrackerHostname"/>
        </div>
      </fieldset>
      <fieldset class="margin_bottom_15">
        <legend>{{::vm.zooKeeperLabel}}</legend>
        <img class="variable" ng-src="{{::vm.variableImage}}"/>
        <div class="port-input">
          <label for="zooKeeperPort" class="margin_bottom_5 text_left">{{::vm.portLabel}}</label>
          <input id="zooKeeperPort" type="text" ng-model="vm.data.model.zooKeeperPort"/>
        </div>
        <img class="variable" ng-src="{{::vm.variableImage}}"/>
        <div class="fill-remaining">
          <label for="zooKeeperHostname" class="margin_bottom_5 text_left">{{::vm.hostnameLabel}}</label>
          <input id="zooKeeperHostname" type="text" ng-model="vm.data.model.zooKeeperHostname"/>
        </div>
      </fieldset>
      <fieldset class="margin_bottom_15">
        <legend>{{::vm.oozieLabel}}</legend>
        <img class="variable" ng-src="{{::vm.variableImage}}"/>
        <div class="fill-remaining">
          <label for="oozieHostname" class="margin_bottom_5 text_left">{{::vm.hostnameLabel}}</label>
          <input id="oozieHostname" type="text" ng-model="vm.data.model.oozieHostname"/>
        </div>
      </fieldset>
      <fieldset class="margin_bottom_15">
        <legend>{{::vm.kafkaLabel}}</legend>
        <img class="variable" ng-src="{{::vm.variableImage}}"/>
        <div class="fill-remaining">
          <label for="kafkaBootstrapServers" class="margin_bottom_5 text_left">{{::vm.bootstrapServerLabel}}</label>
          <input id="kafkaBootstrapServers" type="text" ng-model="vm.data.model.kafkaBootstrapServers"/>
        </div>
      </fieldset>
    </div>
  </div>
  <controls buttons="vm.buttons" data="vm.data"></controls>
</div>
