.new-edit-main {
  padding: 30px;
  min-width: 545px;
  height: calc(100% - 60px);
}

.new-edit-middle {
  height: calc(100% - 129px);
}

.scroll-form {
  overflow-y: auto;
  height: calc(100% - 94px);
  padding-right: 4px;
}

textarea {
  height: 75px;
}

.cluster-name {
  padding-right: 17px;
}

.leftHalf {
  width: 45%;
  float: left;
}

.rightHalf{
  width: 45%;
  float: right;
}

.hostname {
  overflow: hidden;
  padding-right: 10px;
  margin-bottom:5px;
}

.port {
  float: right;
  margin-bottom: 5px;
}

.import-shim {
  height: 60px;
}

.variable {
  height: 16px;
  padding-top: 35px;
  float: right;
  padding-right: 10px;
}

input {
  overflow: hidden;
}

.hostPortGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 278fr 81fr; /* MS does not support auto */
  grid-template-columns: auto 81px;
}

.hostCell {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.portCell {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;`
  grid-row: 1;
}

