.modal-dialog {
  display: none;
  width: 370px;
  height: 193px;
  position: absolute;
  padding: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
  background: white;
  border: rgba(174, 174, 174, 1) solid 1px;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: #000;
  opacity: 0.2;
  z-index: 999;
}

.dialog-title {
  font-family: OpenSansLight;
  font-size: 24px;
  color: #333333;
  margin-bottom: 15px;
}

div.dialog-message {
  margin-bottom: 15px;
  height: 95px;
  margin-right: 30px;
}

span.dialog-message {
  font-family: OpenSansRegular;
  font-size: 14px;
  color: #212121;
  white-space: pre-line;
}

.dialog-button {
  margin-left: 15px;
  float: right;
}

.buttons {
  position:absolute;
  bottom:0;
  right:0;
  margin-bottom: 30px;
  margin-right:30px;
}