textarea {
  height: 75px;
}

.leftHalf {
  width: 45%;
  float: left;
}

.rightHalf{
  width:  45%;
  float:  right;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

::placeholder {
  font-style: italic;
}