@CHARSET "ISO-8859-1";
/*
* BODY and MAIN DIVS
*/
body {
  font-family: OpenSansRegular;
  overflow: hidden;
  margin: 0;
}

.main_div {
  padding: 30px;
  min-width: 545px;
}

.middle_hadoop_div {
  width: 392px;
  margin: auto;
}

/*
* TEXTS
*/
.title_text {
  font-family: OpenSansLight;
  font-size: 24px;
  color: #333333;
}

.primary_text {
  font-size: 14px;
  color: #333333;
}

label {
  font-size: 14px;
  color: #666666;
  display: block;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.block {
  display: block;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: #005EAA;
}

a:hover,
a:active {
  text-decoration: underline;
  color: #0F2B5B;
}

a:visited {
  color: #005EAA;
}

/*
*  MARGINS
*/
.margin_bottom_5 {
  margin-bottom: 5px;
}

.margin_bottom_10 {
  margin-bottom: 10px;
}

.margin_bottom_15 {
  margin-bottom: 15px;
}

.margin_bottom_20 {
  margin-bottom: 20px;
}

.margin_bottom_30 {
  margin-bottom: 30px;
}

/*
* FLOATING
*/
.right {
  float: right;
}

.left {
  float: left;
}

/*
* BUTTONS
*/
button:not(.defaultBtn):not(.detailsBtn) {
  outline: none;
  height: 36px;
  border-radius: 4px;
  padding: 0px 20px 0px 20px;
  font-size: 14px;
}

button.same_width {
  /*width: 200px;*/
}

/* selected */
tr td.default button.activate,
button.activate {
  border: 1px solid #00CC66;
  background-color: #00CC66 !important;
  visibility: visible !important;
}

#btnHelp {
  cursor: pointer;
  background-image: url("../img/help.svg");
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  top: 5px;
  padding-left: 25px;
  line-height: 25px;
}

/*
* INPUTS
*/
input[type="text"]{
  height: 36px;
  padding-left: 5px;
  color: #333333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

input[type="text"]:focus
select:focus {
  outline: none;
  border: 1px solid #005EAA;
}

/*
* MISC
*/

hr {
  height: 1px;
  background-color: #CCCCCC;
  border: none;
}

.bottom {
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 30px;
  background-color: #ffffff;
}

.loading-main {
  position: relative;
  width: 400px;
  margin-top: 208px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.busy {
  background-repeat: no-repeat;
  height: 66px;
  width: 66px;
  margin-left: auto;
  margin-right: auto;
}

.break-word {
  word-wrap: break-word;
}

.transition {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
