<div class="left-half">
  <img class="variable" ng-src="{{::vm.variableImage}}"/>
  <div class="username">
    <label for="username_{{::$id}}" class="margin_bottom_5 text_left">{{::vm.usernameLabel}}</label>
    <input id="username_{{::$id}}" type="text" ng-model="vm.username"/>
  </div>
</div>
<div class="right-half">
  <img class="variable" ng-src="{{::vm.variableImage}}"/>
  <div class="password">
    <label for="password_{{::$id}}" class="margin_bottom_5 text_left">{{::vm.passwordLabel}}</label>
    <input id="password_{{::$id}}" type="password" ng-model="vm.password"/>
  </div>
</div>