controls .bottom {
  min-width: 545px;
  padding: 20px 30px 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

controls .bottom .leftPane {
  float: left;
  width: 50%;
}

controls .bottom .rightPane {
  float: right;
  width: 50%;
}

controls .bottom .rightPane > button {
  margin-left: 10px;
}

controls .waiting .loading-icon {
  height: 34px;
  width: 34px;
  background-size: 34px 34px;
}


controls .button:hover {
  background-color: #0f2b5b;
  color: #FFF
}

controls .button:focus {
  background-color: #0f2b5b;
  color: #FFF
}
