.accordian {
  border: 1px solid #d7d7d7;
  padding: 0px 15px;
  overflow-y: auto;
  height: calc(100% - 2px);
}

.test-results-main {
  padding: 30px;
  min-width: 545px;
  height: calc(100% - 147px);
}

.test-results-middle {
  height: calc(100% - 63px)
}

.no-results {
  padding-top: 6px;
  font-family: OpenSansLight;
  font-size: 14px;
  color: #414141;
}