textarea {
  height: 75px;
}

.file-input input {
  border-radius: 5px 0px 0px 5px;
  float: left;
  width: 70%;
}

.file-input button.browse {
  border-radius: 0px 5px 5px 0px;
  float: right;
  width: 30%;
}
.auto_overflow {
  overflow:auto;
}

.leftHalf {
  width: 45%;
  float: left;
}

.rightHalf{
  width:  45%;
  float:  right;
}