<assembly>
    <id>plugin</id>
    <baseDirectory>pentaho-big-data-plugin</baseDirectory>
    <formats>
        <format>zip</format>
    </formats>
    <fileSets>
        <fileSet>
            <directory>src/main/assembly/resources</directory>
            <outputDirectory>/</outputDirectory>
        </fileSet>
        <fileSet>
            <directory>target/plugins/pentaho-big-data-plugin/hadoop-configurations</directory>
            <outputDirectory>/hadoop-configurations</outputDirectory>
        </fileSet>
    </fileSets>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <unpack>false</unpack>
            <scope>runtime</scope>
            <useProjectArtifact>false</useProjectArtifact>
            <outputFileNameMapping>${artifact.artifactId}-${artifact.baseVersion}.${artifact.extension}
            </outputFileNameMapping>
            <includes>
              <include>pentaho:pentaho-big-data-legacy</include>
            </includes>
        </dependencySet>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <unpack>false</unpack>
            <scope>runtime</scope>
            <useProjectArtifact>false</useProjectArtifact>
            <outputFileNameMapping>pentaho-mapreduce-libraries.zip</outputFileNameMapping>
            <includes>
              <include>pentaho:pentaho-big-data-assemblies-pmr-libraries</include>
            </includes>
        </dependencySet>
        <dependencySet>
            <outputDirectory>/lib</outputDirectory>
            <unpack>false</unpack>
            <scope>runtime</scope>
            <useProjectArtifact>false</useProjectArtifact>
            <outputFileNameMapping>${artifact.artifactId}-${artifact.baseVersion}.${artifact.extension}
            </outputFileNameMapping>
            <includes>
                <include>org.apache.avro:avro</include>
                <include>joda-time:joda-time</include>
                <include>com.amazonaws:aws-java-sdk-core</include>
                <include>com.amazonaws:aws-java-sdk-iam</include>
                <include>com.amazonaws:aws-java-sdk-emr</include>
                <include>com.amazonaws:aws-java-sdk-s3</include>
                <include>com.amazonaws:aws-java-sdk-pricing</include>
                <include>org.eclipse.core:commands</include>
                <include>org.eclipse.equinox:common</include>
                <include>commons-cli:commons-cli</include>
                <include>com.github.stephenc.high-scale-lib:high-scale-lib</include>
                <include>org.apache.httpcomponents:httpclient</include>
                <include>org.apache.httpcomponents:httpcore</include>
                <include>org.codehaus.jackson:jackson-core-asl</include>
                <include>org.codehaus.jackson:jackson-mapper-asl</include>
                <include>net.java.dev.jets3t:jets3t</include>
                <include>jline:jline</include>
                <include>com.googlecode.json-simple:json-simple</include>
                <include>org.apache.thrift:libthrift</include>
                <include>org.apache.oozie:oozie-client</include>
                <include>org.apache.oozie:oozie-core</include>
                <include>pentaho:pentaho-s3-vfs</include>
                <include>xmlpull:xmlpull</include>
                <include>xpp3:xpp3_min</include>
                <include>com.thoughtworks.xstream:xstream</include>
            </includes>
        </dependencySet>
        <dependencySet>
          <outputDirectory>/</outputDirectory>
          <useTransitiveDependencies>false</useTransitiveDependencies>
          <useProjectArtifact>false</useProjectArtifact>
          <scope>provided</scope>
          <includes>
            <include>pentaho:oss-licenses:zip</include>
          </includes>
          <unpack>true</unpack>
          <unpackOptions>
            <includes>
              <include>PentahoBigDataPlugin_OSS_Licenses.html</include>
            </includes>
          </unpackOptions>
        </dependencySet>
    </dependencySets>
</assembly>
