<assembly>
    <id>plugin</id>
    <baseDirectory>pentaho-big-data-plugin</baseDirectory>
    <formats>
        <format>zip</format>
    </formats>
    <fileSets>
        <fileSet>
            <directory>src/main/assembly/resources</directory>
            <outputDirectory>/</outputDirectory>
        </fileSet>
        <fileSet>
            <directory>target/plugins/pentaho-big-data-plugin/hadoop-configurations</directory>
            <outputDirectory>/hadoop-configurations</outputDirectory>
        </fileSet>
    </fileSets>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <unpack>false</unpack>
            <scope>runtime</scope>
            <useProjectArtifact>false</useProjectArtifact>
            <outputFileNameMapping>${artifact.artifactId}-${artifact.baseVersion}.${artifact.extension}
            </outputFileNameMapping>
            <includes>
              <include>pentaho:pentaho-big-data-legacy</include>
            </includes>
        </dependencySet>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <unpack>false</unpack>
            <scope>runtime</scope>
            <useProjectArtifact>false</useProjectArtifact>
            <outputFileNameMapping>pentaho-mapreduce-libraries.zip</outputFileNameMapping>
            <includes>
              <include>pentaho:pentaho-big-data-assemblies-pmr-libraries</include>
            </includes>
        </dependencySet>
        <dependencySet>
            <outputDirectory>/lib</outputDirectory>
            <unpack>false</unpack>
            <scope>runtime</scope>
            <useProjectArtifact>false</useProjectArtifact>
            <outputFileNameMapping>${artifact.artifactId}-${artifact.baseVersion}.${artifact.extension}
            </outputFileNameMapping>
            <includes>
                <include>pentaho:pentaho-s3-vfs</include>
            </includes>
        </dependencySet>
    </dependencySets>
</assembly>
