<div class="main_div">
  <div class="title_text margin_bottom_30 text_center">{{vm.header}}</div>
  <div class="middle_hadoop_div margin_bottom_10">
    <div>
      <span>{{::vm.securityTypeLabel}}</span>
    </div>
    <div class="margin_bottom_15">
      <label for="gatewayUrl" class="margin_bottom_5 text_left">{{::vm.gatewayUrlLabel}}</label>
      <input id="gatewayUrl" type="text" ng-model="vm.data.model.gatewayUrl" autofocus/>
    </div>
    <div class="margin_bottom_15 auto_overflow">
      <credentials username-label="vm.gatewayUsernameLabel" username="vm.data.model.gatewayUsername" password-label="vm.gatewayPasswordLabel " password="vm.data.model.gatewayPassword"></credentials>
    </div>
  </div>
  <controls buttons="vm.buttons" data="vm.data"></controls>
</div>
