select-box {
  text-align: left;
  position: relative;
  cursor: pointer;
}

select-box .select {
  width: 100%;
}

select-box .select:hover {
  border: 1px solid #005DA6;
}

select-box .select:focus {
  border: 1px solid #005DA6;
}

select-box .select > div {
  float: left;
  width: 100%;
  margin-right: 6px;
  position: relative;
}

select-box .selected_value {
  padding: 0 0 0 10px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  height: 34px;
  line-height: 34px;
  background-image: url('../../img/chevron_down.svg');
  background-repeat: no-repeat;
  background-position: right center;
  font-family: OpenSansRegular;
  font-size: 14px;
}

select-box .options {
  top: 35px;
  position: absolute;
  width: 100%;
  border: 1px solid #cbcbcb;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: OpenSansRegular;
  font-size: 14px;
}

select-box .options > li {
  padding: 5px;
}

select-box .options > li:hover {
  background-color: #355EA3;
  color: #ffffff;
}

select-box .options > li:focus {
  background-color: #355EA3;
  color: #ffffff;
}

select-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select-box:after {
  content: "";
  display: table;
  clear: both;
}
